{%- block recurrence_rule_widget -%}
{{form_errors(form)}}
<div class="recurrence_rule_widget">
    <table>
        <tr>
            <td>
                {{ form_label(form.name) }}
            </td>
            <td>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.freq) }}
            </td>
            <td>
                {{ form_widget(form.freq) }}
                {{ form_errors(form.freq) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.interval) }}
            </td>
            <td>
                {{ form_widget(form.interval) }}
                <span class="intervalUnit"></span>
                {{ form_errors(form.interval) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.endMethod) }}
            </td>
            <td>
                {{ form_widget(form.endMethod) }}
                {{ form_errors(form.endMethod) }}
        </tr>
        <tr>
            <td>
                {{ form_label(form.until) }}
            </td>
            <td>
                {{ form_widget(form.until) }}
                {{ form_errors(form.until) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.count) }}
            </td>
            <td>
                {{ form_widget(form.count) }}
                {{ form_errors(form.count) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.byDay) }}
            </td>
            <td>
                <div class="by_day_widget">
                    {{ form_widget(form.byDay) }}
                    <div class="by_day_container">
                        <div>Every</div>
                        <div class="form-everday">
                    {{ form_widget(form.byDayChoice) }}
                        </div>
                    </div>
                    <div class="by_day_container">
                        <div>From the beginning of month</div>
                        <div class="form-byRelativeDay">
                            <div class="number-labels">
                                <div>+1</div>
                                <div>+2</div>
                                <div>+3</div>
                                <div>+4</div>
                                <div>+5</div>
                            </div>
                            <div>
                                <div class="day-label">S</div>
                                <div class="day-label">M</div>
                                <div class="day-label">T</div>
                                <div class="day-label">W</div>
                                <div class="day-label">T</div>
                                <div class="day-label">F</div>
                                <div class="day-label">S</div>
                        {{ form_widget(form.byDayPositiveRelative) }}
                            </div>
                        </div>
                    </div>
                    <div class="by_day_container">
                        <div>From the end of month</div>
                        <div class="form-byRelativeDay">
                            <div class="number-labels">
                                <div>-5</div>
                                <div>-4</div>
                                <div>-3</div>
                                <div>-2</div>
                                <div>-1</div>
                            </div>
                            <div>
                                <div class="day-label">S</div>
                                <div class="day-label">M</div>
                                <div class="day-label">T</div>
                                <div class="day-label">W</div>
                                <div class="day-label">T</div>
                                <div class="day-label">F</div>
                                <div class="day-label">S</div>
                        {{ form_widget(form.byDayNegativeRelative) }}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.byMonthChoice) }}
            </td>
            <td class="form-byMonth">
                {{ form_widget(form.byMonth) }}
                {{ form_widget(form.byMonthChoice) }}
                {{ form_errors(form.byMonth) }}
                {{ form_errors(form.byMonthChoice) }}
            </td>
        </tr>
        {#<tr>
            <td>
                {{ form_label(form.byWeekNo) }}
            </td>
            <td>
                {{ form_widget(form.byWeekNo) }}
                {{ form_errors(form.byWeekNo) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.byYearDay) }}
            </td>
            <td>
                {{ form_widget(form.byYearDay) }}
                {{ form_errors(form.byYearDay) }}
            </td>
        </tr>#}
    </table>
</div>
{%- endblock recurrence_rule_widget -%}
{% block color_widget -%}
    {% set type = type|default('color') %}
    {{- block('form_widget_simple') -}}
{%- endblock color_widget %}
{% block patient_selector_widget -%}
    {% set type = type|default('text') %}
    <input type="{{ type }}" autocomplete='off'
            class='patient_selector
            {% if attr.class is defined -%}
                {{attr.class-}}
            {% endif -%}'
    {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock patient_selector_widget %}
{% block hours_admin_widget %}
    <table>
        <tr>
            <td>
                {{form_widget(form.columns)}}
            </td>
            <td>
                <table>
                    <tr>
                        <td>Start</td>
                        <td>{{form_widget(form.start_date)}}</td>
                    </tr>
                    <tr>
                        <td>End</td>
                        <td>{{form_widget(form.end_date)}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Open</td>
                        <td>{{form_widget(form.open_time)}}</td>
                    </tr>
                    <tr>
                        <td>Lunch Start</td>
                        <td>{{form_widget(form.lunch_start)}}</td>
                    </tr>
                    <tr>
                        <td>Lunch End</td>
                        <td>{{form_widget(form.lunch_end)}}</td>
                    </tr>
                    <tr>
                        <td>Close</td>
                        <td>{{form_widget(form.close_time)}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock hours_admin_widget %}
    