<div>
    {% block appointment_type_select %}
    <div>
        <label for='appointment-type'>Appointment Type</label>
        <select id='appointment-type'>
            <option value='patient'>Patient</option>
            <option value='provider'>Provider</option>
        </select>
    </div>
    {% endblock %}
    <div class='appt_form'>
    {{form_start(form)}}
    {{ form_widget(form.start, { 'attr': {'hidden': true} }) }}
    {{ form_widget(form.column, { 'attr': {'hidden': true} }) }}
        <table>
            {% if form.patient is defined %}
            <tr>
                <td>{{ form_label(form.patient) }}</td>
                <td>{{ form_widget(form.patient) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{{ form_label(form.category) }}</td>
                <td>{{ form_widget(form.category) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.duration) }}</td>
                <td>{{ form_widget(form.duration) }}</td>
            </tr>
            {% if form.status is defined %}
            <tr>
                <td>{{ form_label(form.status) }}</td>
                <td>{{ form_widget(form.status) }}</td>
            </tr>
            {% endif %}
            {% if form.recurrence_rule is defined %}
            <tr>
                <td>{{ form_label(form.recurrence_rule) }}</td>
                <td>{{ form_widget(form.recurrence_rule) }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{{ form_label(form.notes) }}</td>
                <td>{{ form_widget(form.notes) }}</td>
            </tr>
        </table>
        <div>
            {% block appointment_buttons %} 
                {{ form_widget(form.submit) }}
            {% endblock %}
        </div>
        {{form_end(form)}}
    </div>
</div>