<div id="controls">
    {{ form_start(controls) }}
    <div class="primary">
        <div>
            {{ form_widget(controls.previous, { 'id' : 'previousDay' })}}
        </div>
        <div id="currentDate">
            {{ form_widget(controls.date, { 'id' : 'calendar-dateinput'}) }}
            <span id="calendar-datespan">{{ calendar.date | date('l n/d/Y') }}</span>
        </div>
        <div id="currentSite">
            {{ form_widget(controls.site, { 'id' : 'calendar-siteinput'}) }}
        </div>
        <div>
            <button id="showMore">More Controls</button>
        </div>
        <div>
            {{ form_widget(controls.next, { 'id' : 'nextDay' })}}
        </div>
    </div>
    <div class="secondary">
        <div class="options">
            <div>
                {{ form_label(controls.show_cancelled) }}
                {{ form_widget(controls.show_cancelled, { 'id' : 'calendar-showcancelled'}) }}
            </div>
        </div>
        <div class="buttons">
            <div>
                <a>Find Appointment</a>
            </div>
        </div>
    </div>
    {{ form_end(controls) }}
</div>
