<div id="controls">
    {{ form_start(controls) }}
    <div class="primary">
        <div>
            {{ form_widget(controls.previous, { 'attr': {'class' : 'previousDay' } })}}
        </div>
        <div id="currentDate">
            {{ form_widget(controls.date, { 'attr': {'class' : 'date_input' } }) }}
            <span class="date_span">{{ calendar.date | date('l n/d/Y') }}</span>
        </div>
        <div id="currentSite">
            {{ form_widget(controls.site, { 'attr': {'class' : 'site_input' } }) }}
        </div>
        <div>
            <button class="show_more">More Controls</button>
        </div>
        <div>
            {{ form_widget(controls.next, { 'attr': {'class' : 'nextDay' } })}}
        </div>
    </div>
    <div class="secondary">
        <div class="options">
            <div>
                {{ form_label(controls.show_cancelled) }}
                {{ form_widget(controls.show_cancelled, { 'attr': {'class' : 'show_cancelled' } }) }}
            </div>
        </div>
        <div class="buttons">
            <div>
                <a class="paperwork_button" href="/interface/paperwork/paperwork.php?mode=todaysAppointments&PWdate=2015-03-31&PWsite=3">Paperwork</a>
            </div>
            <div>
                <a class="preop_button" href="/interface/paperwork/paperwork.php?mode=todaysAppointments&PWdate=2015-03-31&PWsite=3">Preop</a>
            </div>
            <div>
                <button class="findAppointment">Find Appointment</button>
            </div>
        </div>
    </div>
    {{ form_end(controls) }}
    <div id="appointmentFinder-dialog" style="display:none" title="Appointment Finder">
        {% include 'MillerVeinCalendarBundle:Calendar:appointment_finder.html.twig' %}
    </div>
</div>
