<div id="controls">
    {{ form_start(controls) }}
        <div id="previousDay">
            {{ form_widget(controls.previous)}}
        </div>
        <div id="currentDate">
            {{ form_widget(controls.date, { 'id' : 'calendar-dateinput'}) }}
            <span id="calendar-datespan">{{ calendar.date | date('l n/d/Y') }}</span>
        </div>
        <div id="currentSite">
            {{ form_widget(controls.site, { 'id' : 'calendar-siteinput'}) }}
        </div>
        <div>
            {{ form_label(controls.show_cancelled) }}
            {{ form_widget(controls.show_cancelled, { 'id' : 'calendar-showcancelled'}) }}
        </div>
        <div id="nextDay">
            {{ form_widget(controls.next)}}
        </div>
    {{ form_end(controls) }}
</div>