<div class="timeslot">
    <div class="time" 
         data-column="{{calendarColumn.column.id}}"
         data-datetime="{{calendar.date | date('Y-m-d')}} {{timeSlot.time | date('H:i')}}"
         >{{timeSlot.time | date('h:i')}}</div>
    <div class="appts">
        {% for appt in timeSlot.Appointments %}
        <div class="appt" data-id="{{appt.id}}" data-type="{{appt.type}}">
            {{ appt.title }}
            {% if appt.type == 'patient' %}
                {{ appt.patient.fname }}
                {{ appt.patient.lname }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>