<div class="timeslot">
    
    <div class="time" 
         data-column="{{calendarColumn.column.id}}"
         data-datetime="{{calendar.date | date('Y-m-d')}} {{timeSlot.time | date('H:i')}}"
         >
        {{timeSlot.time | date('h:i')}}
    </div>
    
    <div class="appts
        {% if timeSlot.Appointments %}
        hasAppointments
        {% endif %}
    ">
        
    {% for fragment in timeSlot.Appointments %}
    <div class="appt 
        {% if fragment.first %}appt-firstSlot{% endif %}
        {% if fragment.last %}appt-lastSlot{% endif %}
        {% if not loop.first %}appt-additional{% endif %}" 
         title="{{fragment.appointment.notes}}"
         data-id="{{fragment.appointment.id}}" 
         data-type="{{fragment.appointment.type}}" 
         style='background-color:{{fragment.appointment.category.color}}'
         >
        {% if fragment.appointment.type == 'patient' %}
        <span class="patient
              " data-id="{{ fragment.appointment.patient.pid }}">
            <a href="../../interface/patient_file/summary/demographics.php?set_pid={{ fragment.appointment.patient.pid }}">
            {% if fragment.first %}
                    {{ fragment.appointment.status.legacyId }}
{#                    {{fragment.appointment.category.name}}#}
                {% if fragment.appointment.type == 'patient' %}
{#                -#}
                    {% if fragment.appointment.patient.nickname %}
                        "{{fragment.appointment.patient.nickname | title}}"
                    {% else %}
                        {{ fragment.appointment.patient.fname }}
                    {% endif %}
                    {{ fragment.appointment.patient.lname }}
                {% endif %}
            {% endif %}
            </a>
        </span>
        {% else %}
        <span class="provider">
            {{ fragment.appointment.category.name }}
        </span>
        {% endif %}
    </div>
    {% endfor %}
    </div>
</div>