<table class="apptInfo">
    <tr>
        <td>
            Category
        </td>
        <td>
            {{appt.category.name}}
        </td>
    </tr>
    <tr>
        <td>
            Status
        </td>
        <td>
            {{appt.status.name}}
        </td>
    </tr>
    <tr>
        <td>
            Patient
        </td>
        <td>
            {{appt.patient.fname}}
            {% if appt.patient.nickname %}
            "{{appt.patient.nickname}}"
            {% endif %}
            {{appt.patient.lname}}
            ({{appt.patient.id}})
        </td>
    </tr>
    <tr>
        <td>
            DOB
        </td>
        <td>
            {{appt.patient.dob | date('m/d/Y')}}
        </td>
    </tr>
    {% if appt.notes %}
    <tr>
        <td>
            Notes
        </td>
        <td>
            {{appt.notes}}
        </td>
    </tr>
    {% endif %}
</table>