{% extends "EMRCalendarBundle::base.html.twig" %}
{#Title#}
{% block title %}Utilization Goals Report{% endblock %}

{#Stylesheets#}
{% block stylesheets %}
{{ parent()}}
{% endblock %}

{#Javascripts#}
{% block javascripts %}
{{ parent()}}
{% endblock %}

{#Body#}
{% block body %}
    {{ report.startDate | date("m/d/Y") }}
    {{ report.endDate | date("m/d/Y") }}
    {% for result in report.results %}
        <h3>{{ result.name }}</h3>
        {{ result.goal }}
        {{ result.current }}
    {% endfor %}
{% endblock %}